.calendarBtnContainer{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 10%;
    height: 95px;
    background-color: color(var(--accent-color));
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.rightArrow{
    transform: rotateY(0deg);
    transition: transform 0.5s ease-in-out;
}

.leftArrow{
    transform: rotateY(180deg);
    transition: transform 0.5s ease-in-out;
}

.calendarList{
    width: 10%;
    background-color: color(var(--light-color));
}

.calendarNotShow{
    position: fixed;
    top: 95px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-103%);
}

.calendarShow{
    position: fixed;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
    top: 95px;
}

.calendarList ul li{
    padding: 15px;
    list-style: none;
    font-weight: 100;
    color: color(var(--accent-color-disabled));
    border-bottom: 1px solid  color(var(--light-grey-color));
    border-right: 1px solid  color(var(--light-grey-color)); 
    text-align: center;
}

@media screen and (max-width: 680px){
    .calendarList{
        display: none;
    }
}
