.createNote {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
}

.addNoteContainer,
.previewCodeContainer {
    width: 45%;
    min-height: 600px;
    padding: 20px;
    box-sizing: border-box;
    background-color: color(var(--light-grey-color));
}

.addNote input[type='text'],
textarea {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: color(var(--light-color));
    border: 1px solid color(var(--light-brown-color));
    resize: none;
}

.addNote input[type='text'] {
    font-size: 14px;
    font-weight: 700;
    color: color(var(--primary-color));
}

.addNote textarea {
    min-height: 400px;
    padding: 10px;
    font-size: 14px;
}

.createNote button {
    color: color(var(--light-color));
    background-color: color(var(--primary-color));
    padding: 10px;
    width: 100px;
    border: none;
    display: block;
    margin: 0 auto;
    margin-right: 0;
    margin-top: 10px;
    border-radius: 5px;
}

.previewCode {
    background-color: color(var(--light-color));
    min-height: 400px;
    max-height: 400px;
    overflow: scroll;
    border: 1px solid color(var(--light-brown-color));
    padding: 5px;
    box-sizing: border-box;
}

.previewCode div {
    font-size: 0.8em;
}

.previewCodeTitle{
    overflow-wrap: break-word;
    min-height: 35px;
    margin-bottom: 15px;
    background-color: color(var(--light-color));
    border: 1px solid color(var(--light-brown-color));
}

.previewCodeTitle h4 {
    color: color(var(--primary-color));
    padding: 10px;
}

.snippetInputForm {
    width: 100%;
    border-bottom: 1px solid var(--light-brown-color);
    padding-bottom: 10px;
}

.addNote> :first-child {
    background-color: color(var(--light-grey-color));
    padding: 20px;
    margin-bottom: 10px;
}

.previewTags {
    min-height: 35px;
    width: 100%;
    background-color: color(var(--light-color));
    border: 1px solid color(var(--light-brown-color));
    margin-top: 15px;
    padding: 10px;
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.previewCode div {
    padding: 10px;
}

.previewTags li {
    font-size: 12px;
    padding: 10px;
    background-color: color(var(--light-grey-color));
    border-radius: 30px;
    margin-left: 5px;
}

.backBtnContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 95px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}

.markDownContainer pre,
.markDownContainer p {
    padding: 10px;
    font-size: 12px;
}

.addNote input[type='text']::-webkit-input-placeholder,
.addNote textarea::-webkit-input-placeholder {
    font-size: 14px;
}

.addNote input[type='text']::-moz-placeholder,
.addNote textarea::-moz-placeholder {
    font-size: 14px;
}

.addNote input[type='text']:-ms-input-placeholder,
.addNote textarea:-ms-input-placeholder {
    font-size: 14px;
}

.addNote input[type='text']:-moz-placeholder,
.addNote textarea:-moz-placeholder {
    font-size: 14px;
}

@media screen and (max-width: 680px) {
    .createNote {
        width: 80%;
        padding-top: 100px;
    }
    .addNoteContainer,
    .previewCodeContainer {
        margin-bottom: 20px;
        width: 100%;
    }
    .backBtnContainer {
        top: 0;
        left: -30px;
    }
}
