.tooltipContainer{
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 2em;
  cursor: pointer;
}

.tooltipBox {
  position: relative;
  background-color: color(var(--accent-color));
  color: color(var(--light-color));
  padding: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 7px 1px color(var(--light-brown-color));
}

@media screen and (max-width: 680px){
  .tooltipContainer{
  top: 90px;
  left: -20px;
  }
}