.tooltipContainer{
  position: absolute;
  bottom: 30px;
  right: 10px;
  font-size: 2em;
  cursor: pointer;
}

.tooltipBox {
  position: relative;
  background-color: color(var(--accent-color));
  color: color(var(--light-color));
  padding: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 7px 1px color(var(--light-brown-color));
}

@media screen and (max-width: 680px){
  .tooltipContainer{
  top: 650px;
  left: 40px;
  }
  .tooltipBox{
    height: 35px;
    width: 100px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 0.6em;
    border-radius: 5px;
    box-shadow: none;
  }
}