.loginPage{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    padding-top:70px;
    background: linear-gradient(color(var(--light-color)),color(var(--primary-color-disabled)));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.signInForm, 
.signUpForm,
.formGroup{
    width: 100%;
    background-color: color(var(--light-color));
}

.formGroup{
    width: 80%;
    margin: 0 auto;
}

.formGroup input[type='email'],[type='password'],
.signUpForm input[type='email'],[type='password'],[type='text'] {
    display: block;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    border-width: 1px solid;
}

.formGroup label{
    color: color(var(--primary-color));
    padding: 20px 0  5px;
    display: block;
}
.signInForm input:focus,
.signUpForm input:focus{
    outline-color: color(var(--light-grey-color));
}

.signInForm-button, .signUpForm-button{
    display: block;
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    background-color: color(var(--accent-color));
    color: color(var(--light-color));
}

.welcomeTitle{
    font-size:calc(var(--big-letters));
    color: color(var(--primary-color));
    width: 40%;
}

.formContainer{
    border: 1px solid color(var(--light-grey-color));
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    background-color: color(var(--primary-color-disabled));
}

.formContainer a{
    width: 50%;
    text-align: center;
    text-decoration: none;
    color: color(var(--light-color));
    border: 1px solid color(var(--light-color));
    box-sizing: border-box;
    padding: 20px;
}

.errorContainer{
    color: color(var(--warning-color));
    padding: 2px;
    font-size: 0.8em;
}

.activeTab {
    background-color: color(var(--primary-color));
}
.invalidInput{
    border: 1px solid color(var(--warning-color));
}

@media screen and (max-width: 680px){
    .loginPage{
        padding-top: 0;
    }
    .welcomeTitle,
    .formContainer{
        width: 100%;
        margin: 30px 0;
    }
}

.serverError{
    color: brown;
    padding: 0 0 10px 40px;
}
