.mainPage{
    display: flex;
    flex-flow: row wrap;
}

.main{
    width: 100%;
    box-sizing: border-box;
}

.main > :first-child{
    background-color: color(var(--dark-violet));
    
}

.addNoteBtn{
    position: fixed;
    bottom: 40px; 
    right: 30px;
}

.addNoteBtn circle{
    fill: color(var(--accent-color));
    text-shadow: 2px 2px color(var(--main-dark-color));
}

.addNoteBtn text{
    font-size: 4em;
    fill: color(var(--light-color));
}

@media screen and (max-width: 680px){
    .main> :first-child{
        width: 100%;
    }

    .addNoteBtn{
        top: 350px;
        right: 0px;
    }

    .addNoteBtn text{
        font-size: 2em;
    }

    #desktopCircle{
        display: none;
    }

    #mobileCircle{
        display: block;
    }
}

