.mainPage{
    display: flex;
    flex-flow: row wrap;
}

.main{
    width: 90%;
    box-sizing: border-box;
}

.main > :first-child{
    background-color: color(var(--dark-violet));
    padding: 20px;
}

.addNoteBtn{
    position: fixed;
    bottom: 60px; 
    right: 60px;
}

.addNoteBtn circle{
    fill: color(var(--accent-color));
    text-shadow: 2px 2px color(var(--main-dark-color));
}

.addNoteBtn text{
    font-size: 4em;
    fill: color(var(--light-color));
}

#mobileCircle{
    visibility: hidden;
}

@media screen and (max-width: 680px){
    .main> :first-child{
        width: 100%;
    }

    .addNoteBtn{
        top: 320px;
        right: 0px;
    }

    .addNoteBtn circle{
        width: 10px;
    }

    .addNoteBtn text{
        font-size: 2em;
    }

    #desktopCircle{
        display: none;
    }

    #mobileCirle{
        visibility: visible;
    }
}

