.allNotes{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.oneDay{
    display: flex;
    flex-flow: row wrap;
}

.oneDay h3{
    width: 100%;
    border-bottom: 1px solid color(var(--light-grey-color));
    color: color(var(--primary-color));
    padding: 20px 0;    
}
