.quickNote{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}

.quickNote textarea{
    display: block;
    width: 90%;
    resize: none;
    min-height: 100px;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    border: 1px solid color(var(--light-grey-color));
    background-color: color(var(--dark-violet));
    color:color(var(--light-grey-color));
}

.quickNote textarea:focus{
    outline-color: color(var(--light-grey-color));
}

.quickNote button{
    display: block;
    padding: 10px 20px;
    width: 100px;
    background-color: color(var(--primary-color));
    color: color(var(--light-color));
    border: none;
    outline: none;
    border-radius: 5px;
}

@media screen and (max-width: 680px){
    .quickNote button{
        width: 10%;
    }

    .quickNote textarea{
        min-height: 150px;
    }
}
