.searchContainer{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.searchForm input[type='text']{
    display: block;
    width: 100%;
    margin-left:0;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: color(var(--dark-violet));
    border: 2px solid color(var(--accent-color));
    color:color(var(--light-grey-color));
    outline-color: color(var(--accent-color));
}
